@media (min-width: 738px) {
    header  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #menu {
        display: none;
    }

    .navigation  {
        display: flex;
        flex-direction: row;
       align-items: center;
       font-size: 25px;
    }

    .navigation  a {
        display: block;
    }

    .navigation a:hover {
        color: yellow;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    h2 {
        grid-column: span 3;
        text-align: center;
    }
  
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        
    }

    .container img {
        padding: 10px;
        max-width: fit-content;
        border-radius: 20px;
    }

    .container section {
        background-color: rgb(220, 229, 240);
        border: 3px solid black;
    }

    figure {
        width: 30%;
        margin: 0;
        text-align: center;
    }
    

    img {
        width: 100%;
        height: auto;
        max-width: none;
    }



}