@media (min-width: 705px) {

    * {
        margin: 0;
        padding: 0;
    }


    header {
        width: 100%;
        text-align: center;
        font-size: 35px;
        background-color: #3bd6c6;
    }

    h1 {
        padding: 10px;
    }

    .hero img {
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
        max-width: 100%;
        padding: 0;
        
    }

    .data {
        position: absolute;
        width: 15%;
        height:auto;
        padding: 2.5%;
        margin-top: 20px;
        top: 225px;
        left: 2.5%;
        background-color: #05445E;
        color: #75E6DA;
        opacity: 75%;
        font-size: 1.5rem;
    }
    .data p {
        margin-top: 20px;
    }

    .data div {
        position: absolute;
        background-color: gray;
        width: 80%;
        top: 15px;
        left: -15px;
        padding-left: 50px;
    }


    .weather {
        position: absolute;
        width: 20%;
        height:auto;
        padding: 2.5%;
        top: 100%;
        left: 70%;
        background-color: #05445E;
        color: #75E6DA;
        opacity: 90%;
        font-size: 1.5rem;
    }

    .weather div {
        display: flex;
        position: absolute;
        background-color: gray;
        width: 80%;
        top: 15px;
        left: -15px;
        padding-left: 50px;
    }

    .weather-header h2 {
        margin-right: 10px; 
    }

    .icon {
        width: 50px;  
        height: auto;
        margin-left: 20px; 
    }

    .weather p {
        margin-top: 20px;
    }





    
}