header {
    background-color: #621709;
    color: #3bd6c6;
    max-width: 50%;
    padding: 12PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 20px;
}

.navigation a {
    padding: 10px;
    color: white;
}

.navigation a:hover {
    color: #ffff00;
}
main h2 {
    background-color: #621709;
    color: #3bd6c6;
    max-width: 50%;
    padding: 10PX;
}
body {
    background-color:#c1C4C7;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    width: auto;
}

