@media (min-width: 705px) {
    header  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #menu {
        display: none;
    }

    .navigation  {
        display: flex;
        flex-direction: row;
       align-items: flex-end;
       font-size: 25px;
    }

    .navigation  a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a:hover {
        color: yellow;
        background-color: gray;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr auto;
        max-width: 1500px;
    }

    h2 {
        grid-row-start: 1;
    }

figure {grid-row-start: 2;}



    img {
        max-width: 300px;
        max-height: auto;
    }



}